#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input{
  margin: 10px;
  padding: 5px 50px;
  border-radius: 5px;
  background-color: #ded2d2;
}

button{
  padding: 10px;
  background-color: rgb(20, 151, 184);
  border-radius: 5px;
}
